<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {{ moment.include_jquery() }}
      {{ moment.include_moment() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{#    <script src="https://use.fontawesome.com/b3c15b8030.js"></script>#}
    <title>microblog</title>
  </head>
  <body>
    <div class="expanded row navbar">
        <div class="large-6 large-centered columns">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if g.user.is_authenticated %}
                <li><a href="{{ url_for('user', username=g.user.username) }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <hr>
    {% block page_content %}

    {% block content %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    {% endblock %}
  {% endblock %}

{#    <script src="{{ url_for('static', filename='jquery-3.0.0.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='script.js') }}"></script>#}
  </body>
</html>