{% extends 'base.html' %}

{% block page_content %}
{% block content %}
  <div class="row">
      <div class="large-8 columns">
        <div class="large-12 columns edit">
          <form method="post" action="/edit">
              {{ form.hidden_tag() }}
            About Me<input type="text" name="about_me" placeholder="About Me" value="">
            Location<input type="text" name="location" placeholder="Location" value="">
            <button class="success button" type="submit">Submit</button>
          </form>
        </div>
      </div>
      <div class="large-4 columns"></div>
    </div>
{% endblock %}
{% endblock %}