{% extends 'base.html' %}

{% block content %}
<div>
    <h1>{{ g.user.username }}</h1>
    {% if g.user.name %}
        <p>
            {% if g.user.name %}{{ g.user.name }}{% endif %}
        </p>
    {% endif %}
    {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ g.user.email }}">{{ g.user.email }}</a></p>
    {% endif %}
    {% if g.user.about_me %}<p>{{ g.user.about_me }}</p>{% endif %}
    <p>
{#        Member since {{ moment(g.user.member_since) }}.#}
{#        Last seen {{ moment(g.user.last_seen) }}#}
    </p>
</div>
{% endblock %}