{% extends 'base.html' %}

{% block page_content %}
{% block content %}
    <div class="row messaging">
        <div class="large-12 columns">
            <h1>What's on your mind</h1>
            <form method="POST" action="/index">
                {{ form.hidden_tag() }}
                <dl>
                    {{ pagedown.include_pagedown() }}
                    {{ form.body(only_preview=True) }}
                    {{ form.body(only_input=True, rows=10) }}
                </dl>
                <button class="success button" type="submit">Post</button>
            </form>
        </div>
    </div>
    {% include '_posts.html' %}
{% endblock %}
{% endblock %}
