{% extends "base.html" %}
{% block content %}

    <div class="row logo">
        <div class="large-3 columns">Hello {{ g.user.username }}</div>
        <div class="large-9 columns"></div>
    </div>

    <div class="row messaging">
        <div class="large-12 columns">
            What's on your mind
            <form method="POST" action="/index">
                {{ form.hidden_tag() }}
                <dl>
                    {{ pagedown.include_pagedown() }}
                    {{ form.body(only_preview=True) }}
                    {{ form.body(only_input=True, rows=10) }}
                </dl>
                <p><input type="submit" value="Post"></p>
            </form>
        </div>
    </div>
    <div class="row">
        <ul class="posts">
            {% for post in posts %}
                <div class="large-12 columns">
                    <li class="post">
                        <div class="profile-thumbnail">
                            <a href="{{ url_for('.user', username=post.author.username) }}"></a>
                        </div>
                        <div class="post-date">{{ post.timestamp.strftime('%Y-%m-%d') }}</div>
                        <div class="post-author">
                            <a href="{{ url_for('.user', username=post.author.username) }}">
                                {{ post.author.username }}
                            </a>
                        </div>
                        <div class="postbody">{{ post.body }}</div>
                    </li>
                    <hr>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}




