<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <div class="row logo">
      <div class="large-3 columns">Microblog</div>
      <div class="large-9 columns"></div>
    </div>

    <div class="row">
      <div class="large-3 columns"></div>
      <div class="large-6 large-centered columns intro">
        Welcome To My Chat App
        <div class="large-12 columns login">
          <form method=post action="/login">
              {{ form.hidden_tag() }}
            Email
            <input type="text" placeholder="email" name="email">
            Password
            <input type="text" placeholder="password" name="password">
              <p>{{ form.remember_me }} Remember Me</p>
            <button class="success button" type="submit">Log In</button>
          </form>
        </div>
      </div>
      <div class="large-3 columns"></div>
    </div>


    <div class="row">
        <div class="larg-12 columns">
        Not yet a user? Sign Up <a href="{{ url_for('register') }}">Here</a>:<br>
        </div>
    </div>

{% endblock %}