{% extends "base.html" %}

{% block page_content %}
{% block content %}
    <div class="row">
    <h1 id="signup">Sign Up</h1>
        <div class="large-6 columns register">
            <form method=post action="/register">
                {{ form.hidden_tag() }}
                Email
                <input type="text" placeholder="email" name="email">
                Username
                <input type="text" placeholder="username" name="username">
                Password
                <input type="password" placeholder="password" name="password">
                Confirm Password
                <input type="password" placeholder="confirm password" name="password2">
                <button class="success button" type="submit">Register</button>
            </form>
        </div>
    </div>
{% endblock %}
{% endblock %}