{% extends 'base.html' %}

{% block page_content %}
{% block content %}
    <div class="profile">
        <div class="row">
            <div class="large-6 columns">
                <img src="{{ g.user.gravatar(size=256) }}">
            </div>
            <div class="large-6 columns">
                <p>{{ user.username }}</p>
                <div>
                    <button class="success button" type="submit" style="margin-top: 10%;">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row info">
        <div class="large-12 columns">
            <p>
                <a href="http://maps.google.com/?q={{ g.user.location }}">
                    Location: {{ g.user.location }}
                </a>
                <br> Email: johnngugi777@gmail.com
                <br> About Me: {{ user.about_me }}
                <br> Member since {{ moment(user.member_since).format('L') }}
                <br> Last Seen: {{ moment(user.last_seen).fromNow() }}
            </p>
        </div>
    </div>
{% endblock %}
{% endblock %}
