{% extends 'base.html' %}

{% block page_content %}
{% block content %}
    <div class="profile">
        <div class="row">
            <div class="large-6 columns">
                <img src="{{ user.gravatar(size=256) }}">
            </div>
            <div class="large-6 columns">
                <p class="username">{{ user.username }}</p>
                <div>
                    <button class="success button" type="submit" style="margin-top: 10%;">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row info">
        <div class="large-12 columns">
            <p>
                <a href="http://maps.google.com/?q={{ g.user.location }}">
                    Location: {{ g.user.location }}
                </a>
                <br> Email: {{ user.email }}
                <br> About Me: {{ user.about_me }}
                {% if member_since %}
                <br> Member since {{ moment(user.member_since) }}
                {% endif %}
                <br> Last Seen: {{ moment().fromTime(user.last_seen) }}
            </p>
        </div>
    </div>
{% endblock %}
{% endblock %}
